* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {

    font-size: 100%;
    background-color: #fff;
}

.titulo-navegacao {
    height: 400px;
    background-image: url(/imagens/fundo-da-navegacao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column-reverse;

}

.titulo-topo {
    display: flex;
    justify-content: center;

}

.titulo-topo h1 {
    text-align: center;
    color: #fff;
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 15px;
    text-shadow: 2px 2px 5px #D61639;
}

.navegacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px 40px;
}

.navegacao a {
    padding: 10px 70px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    text-align: center;
    margin-left: 30px;

}

.navegacao:hover a {
    background-color: #D61639;
}